

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");


$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;
$base-space: 40px;


button {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  padding: 0 !important;


  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active,
  &.active {
    box-shadow: inset 1px 1px 2px orange, inset -1px -1px 2px $color-white;
  }

  &.atom-button {
    border-radius: 8px;
    width: $base-space;
    height: $base-space;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.atom-button--small {
    border-radius: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}